@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto+Slab:wght@100;200;300;400;500;600;800&display=swap');


/* helper styles*/
p{
padding:0;
margin:0
}
h1, h2, h3, h4, h5, h6{
    padding:0;
    margin:0;
}
.flex-center{
    display:flex;
    align-items:center;
    justify-content:center;
}

body{
    font-family: 'Open Sans', sans-serif;
    color:#000;
    font-size:15px;
}

h3{
    font-size: 24px!Important;
    border-bottom: 2px solid grey;
    padding:10px 0 ;
 }


.app__wrapper{

}

.app__sidebar{
    width:300px;
}

.app__main{
}
.app__title, .section__title{
    font-size: 28px;
    font-weight: 700;
    margin: 0;
    margin-top: 16px;
    text-transform: uppercase;
    color: #000000;
}
.app__header{
    min-height:200px;
    font-size:70px;
    color:#EBECF0;
    padding: 10px 20px;

    border-bottom:1px solid #dee2e6;
}
.header__title{
    font-size: 38px;
    font-family: 'Roboto Slab', serif;
}
.header__subtitle{
    font-weight: 300;
    margin-bottom: 30px;
}
.header__description{
    font-weight: bold;
    border-bottom:1px dashed #757575;
    padding: 0 0 20px 0;
    width:100%;
}
.arm_block{
    display:flex;
    align-items:center;
    gap:20px;
    padding:10px 0 30px 0;
}
.arm_box{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    font-size:16px;


}

.arm_title{
    white-space: nowrap;
    font-weight:700;
}

.arm_value{
    font-size:24px;

}

.section__img{
    max-width:100%;
}

.app__content{
    min-height:400px;
    font-size:70px;
    color:#EBECF0;
    padding: 10px 20px;
}

#sidebar {
  text-align: center;
  padding: 1rem 1rem;
  background-color: #f8f9fa;
}

#sidebar h2 {
  text-align: left;
  margin-bottom: 0;
}
.nav-link{
    text-transform:uppercase;
    font-size:14px;
    color:#000;
    padding:0.5rem 0;
}
.nav-link.active{
    font-weight:700;
    color:#000!Important;
    background-color:transparent!Important;
}
.nav-link:hover{
    font-weight:700;
    color:#000!Important;
}


/* Hide the blurb on a small screen */
#blurb {
  display: none;
}

#collapse *:first-child {
  margin-top: 1rem;
}

#page-content {
  padding: 2rem 1rem;
}

/* add the three horizontal bars icon for the toggle */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

@media (min-width: 48em) {
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    text-align: left;
  }
  .app__logo{
    width:180px;
  }
  .app__main{
    padding-left:16rem;
  }

  /* reveal the blurb on a large screen */
  #blurb {
    display: block;
  }

  /* Hide the toggle on a large screen */
  #toggle {
    display: none;
  }

  #collapse {
    display: block;
  }

  #collapse *:first-child {
    margin-top: 0;
  }

  #page-content {
    margin-left: 18rem;
    margin-right: 2rem;
  }
}

.faq__title{
    font-size:18px;
    font-weight:700;
    padding:20px 0;
    text-transform:uppercase;
}
.faq__title:hover{
    cursor:pointer;
}

.faq__input{
    width:100%;
    padding:5px 10px;
    margin:10px 0;
}

